<section class="header">
  <app-top-bar></app-top-bar>
  <app-header></app-header>
  <app-main-menu></app-main-menu>
</section>

<app-banner></app-banner>
<app-charactersitics></app-charactersitics>
<app-deals-featured></app-deals-featured>
<app-popular-categories></app-popular-categories>
<app-new-arrivals></app-new-arrivals>
<app-best-sellers></app-best-sellers>
<app-trends></app-trends>
<app-reviews></app-reviews>
<app-newsletter></app-newsletter>
<app-footer></app-footer>
<router-outlet></router-outlet>
